<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="../../lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i>刷新</button>
            <button id="addrole" class="winui-toolbtn"><i class="fa fa-plus" aria-hidden="true"></i>新增</button>
            <button id="deleteRole" class="winui-toolbtn"><i class="fa fa-trash" aria-hidden="true"></i>删除</button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="table-woorole" lay-filter="table-woorole"></table>
        <script type="text/html" id="barrole">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="adduser">加用户</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            <a class="layui-btn layui-btn-xs" lay-event="addsysmodel">菜单设置</a>
        </script>
        
        <script type="text/html" id="titleTpl">
            <a class="layui-table-link hand" lay-text="查看用户信息" lay-event="showview">
                <cite>{{d.Name}}</cite>
            </a>
        </script>
    </div>
    <script src="/lib/layui/layui.js"></script>
    <script> 
        layui.config({
            base: '../../js/'
        }).extend({
            rolelist:'devrole/list'
        })
        .use('rolelist');
    </script>
</body>
</html>