<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="../../lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../lib/winui/css/devcommon.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
    <div class="layui-form" lay-filter="Dev-RoleForm">
        
        <input  type="hidden" id="Id" name="Id"  />
        <!-- <div class="layui-card"> -->
            <div >
            <div class="layui-card-header">角色基本信息</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">角色名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name"   class="layui-input devview" />
                        </div>
                    </div>
                  
                    
                </div>
               
                <div class="layui-form-item">
                </div>
               
            </div>
        </div>
        <!--基本信息end-->
         <!-- 菜单选择区begin -->
        <div class="layui-card">
            <div class="layui-card-header">权限范围</div>
            <div class="layui-card-body" style="padding: 15px;">
            <div class="layui-form-item" id="rolemodelchkdiv">

                
                
        
            </div>
        </div>


        </div>
        <!-- 菜单选择区-end -->
      
        <!--按钮begin-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="winui-btn" lay-submit lay-filter="dev-formAddrole">确定</button>
                    <button class="winui-btn" id="quxiaobtn" >取消</button>
                    
                   
                </div>
            </div>
            </div>
        <!--按钮begin-->
    </div>
    
</div>
<script src="/lib/layui/layui.js"></script>
<script>
    layui.config({
            base: '../../js/'
        }).extend({
            setsysmodel:'devrole/setsysmodel',
            
        })
        .use('setsysmodel');
</script>
</body>
</html>