<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="../../lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
<div style="margin:0 auto;padding-top:20px;">
    <div class="layui-form" lay-filter="DEV-DeptForm">
        
        <input  type="hidden" id="Id" name="Id"  />
        <div class="layui-card ">
            <div class="layui-card-header">部门基本信息</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">机构名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" lay-verify="required" placeholder="必填" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">机构编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="Code" lay-verify="required" autocomplete="off" class="layui-input pen" placeholder="必填" />
                        </div>
                    </div>
                    
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">所属机构</label>
                        <div class="layui-input-block">
                            <input type="text" id="NF-PDept" lay-filter="NF-PDept" name="Pid"  value="0" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">机构类型</label>
                        <div class="layui-input-block">
                            <select name="CateId" id="CateId" lay-verify="required" lay-search="">
                                <option value="" id="cateempty">请选择机构类型</option>

                            </select>
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">机构简称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Sname" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">子公司</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="IsCompany" value="1" lay-skin="primary" />

                        </div>
                    </div>
                </div>

                <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                <div class="layui-form-item">
                   
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">

                        <label class="layui-form-label">签约主体</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="IsMain" value="1" lay-skin="primary" lay-filter="IsMainCheck">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--部门基本信息end-->
        <!--签约主体基本信息begin-->
        <div class="layui-card deptMain" style="display:none;">
            <div class="layui-card-header">签约主体基本信息</div>
            <div class="layui-card-body" style="padding: 15px;">

                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">法定代表人</label>
                        <div class="layui-input-block">
                            <input type="text" name="LawPerson" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">税务登记号</label>
                        <div class="layui-input-block">
                            <input type="text" name="TaxId" autocomplete="off" class="layui-input" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">开户银行</label>
                        <div class="layui-input-block">
                            <input type="text" name="BankName" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-block">
                            <input type="text" name="Account" autocomplete="off" class="layui-input" />
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">

                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="Address" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">邮编</label>
                        <div class="layui-input-block">
                            <input type="text" name="ZipCode" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">传真</label>
                        <div class="layui-input-block">
                            <input type="text" name="Fax" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                            <input type="text" name="TelePhone" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                   
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">开票名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="InvoiceName" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                </div>

                <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                <div class="layui-form-item">

                </div>

            </div>
        </div>
        <!--签约主体基本信息end-->
        <!--按钮begin-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="winui-btn" lay-submit lay-filter="dev-formAddDepart">确定</button>
                    <button class="winui-btn" id="quxiaobtn" >取消</button>
                </div>
            </div>
            </div>
        <!--按钮begin-->
    </div>
    
</div>
<script src="/lib/layui/layui.js"></script>
<script>
    layui.config({
            base: '../../js/'
        }).extend({
            departbuild:'devdepart/build',
            
        })
        .use('departbuild');
</script>
</body>
</html>